<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Let's Meet</title>
    <link rel="stylesheet" href="/static/css/about.css" />
  </head>
  <body>
    <header>
      <h1>About Us</h1>
      <nav class="margin">
        <button class="dropbtn">About</button>
        <div class="dropdown-content">
          <a href="/">Home</a>
          <a href="/howtouse">How It Works</a>
        </div>
      </nav>
    </header>

    <main>
      <section class="content-block mission">
        <h2>Our Mission</h2>
        <p>
          "Our mission at Let's Meet is to simplify the way people connect and
          meet up by leveraging cutting-edge technology to overcome the
          complexities of distance and scheduling. We believe in creating a
          world where distances shrink to bring people closer, fostering
          community, collaboration, and meaningful connections. Our platform is
          designed to empower individuals and businesses alike to find the
          perfect meeting point, saving time and resources, and making every
          meet-up convenient and enjoyable. Through innovation, user-centric
          design, and a commitment to excellence, we strive to make meeting up
          effortless for everyone, everywhere."
        </p>
        <img
          src="/static/images/chi.jpg"
          alt="Our Mission"
          class="feature-img"
        />
      </section>

      <section class="content-block team">
        <h2>Our Team</h2>
        <div class="team-member">
          <img
            src="/static/images/dev.jpg"
            alt="Dev Kishor Kumar Shah"
            class="team-photo"
          />
          <div class="team-info">
            <h3>Dev Kishor Kumar Shah</h3>
            <p>Co-Founder</p>
            <!-- Social Links -->
            <div class="social-links">
              <a
                href="https://github.com/kirtanpatel2003"
                target="_blank"
                aria-label="GitHub"
              >
                <img src="/static/images/github.svg" alt="GitHub" />
              </a>
              <a href="" target="_blank" aria-label="LinkedIn">
                <img src="/static/images/linkedin.svg" alt="LinkedIn" />
              </a>
            </div>
          </div>
        </div>
        <div class="team-member">
          <img
            src="/static/images/kirtan.jpg"
            alt="Kirtan Manoj Kumar Patel"
            class="team-photo"
          />
          <div class="team-info">
            <h3>Kirtan Manoj Kumar Patel</h3>
            <p>Co-Founder</p>
            <!-- Social Links -->
            <div class="social-links">
              <a
                href="https://github.com/kirtanpatel2003"
                target="_blank"
                aria-label="GitHub"
              >
                <img src="/static/images/github.svg" alt="GitHub" />
              </a>
              <a
                href="https://www.linkedin.com/in/kirtanpatel13/"
                target="_blank"
                aria-label="LinkedIn"
              >
                <img src="/static/images/linkedin.svg" alt="LinkedIn" />
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Let's Meet</p>
      <p>Made by Kirtan and Dev</p>
    </footer>
  </body>
</html>
