<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How It Works - Let's Meet</title>
    <link rel="stylesheet" href="/static/css/howItWorks.css" />
  </head>
  <body>
    <header>
      <h1>How It Works</h1>
      <nav class="margin">
        <button class="dropbtn">How It Works</button>
        <div class="dropdown-content">
          <a href="/">Home</a>
          <a href="/about">About</a>
        </div>
      </nav>
    </header>

    <main>
      <h1>How It Works</h1>
      <!-- Add inside your <main> after <h1> -->
      <div class="iframe-container">
        <iframe
          src="https://www.youtube.com/embed/[VIDEO_ID]"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>

      <p>Follow these steps to find the perfect meeting spot:</p>
      <ol>
        <li>
          Start on our homepage where you will see few options to choose from.
        </li>
        <li>
          Look for the search bar that asks for your friend's location/address
          and type it in.
        </li>
        <li>
          After entering the location, the web app will display your friend's
          location on the map.
        </li>
        <li>
          Your current location will be pinpointed next to your friend's on the
          map.
        </li>
        <li>
          Finally, the app will calculate and display a midpoint between you and
          your friend's location.
        </li>
      </ol>
      <!-- FAQ Section -->
      <section class="faq">
        <h2>Frequently Asked Questions</h2>
        <div class="faq-item">
          <h3>- How do I start using Let's Meet?</h3>
          <p>
            Just go to our homepage, and you'll see a place to enter your
            location. That's your starting point!
          </p>
        </div>
        <div class="faq-item">
          <h3>- Is Let's Meet free to use?</h3>
          <p>
            Yes, Let's Meet is completely free for finding the best spot to meet
            your friends!
          </p>
        </div>
        <!-- Include more questions as needed -->
      </section>
    </main>

    <footer>
      <p>&copy; 2024 Let's Meet</p>
      <p>Made by Kirtan and Dev</p>
    </footer>
  </body>
</html>
